.Products{
  display:inline-block

}

.shoppingCardsWrapper{
  width:30%;
  margin:25px;
  background-color:gainsboro!important;
  display:inline-block!important
}

.Summary{
  margin:20px;
  width:97%!important
}